.vnb-notice-comments .md-tile-content p.comment-data{
    font-size: 0.85em;
    font-weight: normal;
}
.comment-box{
    padding-right: 16px;
}
.comment-box input{
    width: 100%;
}

.vnb-notice-comments .md-tile-left .face{
    width: 40px;
    border-radius: 20px;
    margin: 4px;
}

.vnb-notice-comments .md-tile-content{
    padding: 12px 32px 4px 32px;
}

.vnb-notice-comments .md-tile-content h4{
    font-size:14px;
    line-height: 16px;
}

.vnb-notice-comments .vnb-notice-comments-container{
    max-height: 640px;
    background: none;
}

.vnb-notice-comments .comment-box{
    border: 1px solid #ccc;
    border-radius: 3px;
}
