.vnb-notice {
    padding: 0px;
    font-weight: normal;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: #fff;
    margin: 14px 8px;
}

.vnb-notice-header {
    padding: 12px;
    padding-bottom: 4px;
}

.vnb-notice-separator {
    margin: 0px 12px;
}

.vnb-date-container {
    margin-right: 16px;
    box-shadow: -1px 1px 2px #d7d7d7;
    width: 48px;
}

.vnb-date {
    text-align: center;
    width: 100%;
    font-size: 26px;
    line-height: 32px;
    color: #aaa;
    font-weight: 300;
}

.vnb-month {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    padding: 1px 0px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    background: #E7E7E7;
    color: #999;
}

.vnb-notice-header .vnb-date-container {
}

.vnb-date-separator {
    width: 50%;
    margin: 0px 25%;
}

//.vnb-month{
//    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//    padding: 1px 0px;
//    text-align: center;
//    width: 100%;
//    text-transform: uppercase;
//    font-size: 12px;
//    line-height: 14px;
//    color: #aaa;
//    font-weight: 500;
//}

.vnb-notice-title {
    font-size: 18px;
    font-weight: normal;
    color: @themeColor;
    line-height: 26px;
}

.vnb-notice-metadata {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #999;
    margin-left: 16px;
}

.vnb-notice-metadata .right-align {
    text-align: right;
}

.vnb-notice-ago {
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
}

.vnb-notice-body {
    position: relative;
    padding: 8px 0px;
    margin: 0px 0px;
    font-size: 16px;
}

.vnb-notice-content {
    margin: 16px 0px 0px 0px;
}

.vnb-notice-signature {
    color: #999;
    font-size: 14px;
}

.vnb-notice-signature a {
    color: #999;
}

.vnb-notice-event {
    margin: 8px 32px;
}

.vnb-notice-block {
    margin: 8px 32px;
}

.vnb-notice-block.vnb-notice-block-image {
    margin: 8px 0px;
}

.vnb-notice-table {
    width: 100%;
    //    border-top: 1px solid #EFEFEF;
}

.vnb-notice-table tr {
    //    border-bottom: 1px solid #EFEFEF;
}

.vnb-notice-table-cell {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #777;
}

.vnb-notice-tags md-item {
    padding-left: 16px;
}

.vnb-notice-tags .hide {
    display: none;
}

.vnb-notice-social-meta md-item {
    padding-left: 16px;
}

.vnb-notice .dropdown {
    padding-top: 26px;
    width: 48px;
    text-align: right;
}

.vnb-notice .dropdown .dropdown-toggle {
    color: #ddd;
}

.vnb-notice .dropdown .dropdown-toggle:hover {
    color: #bbb;
}

.vnb-notice .dropdown.open .dropdown-toggle {
    color: #bbb;
}

.vnb-notice .dropdown .dropdown-menu {
    text-align: left;
    font-size: small;
    left: -100px;
}

.vnb-notice-image {
    width: 100%;
}

.vnb-notice-footer {
    background: #F7F7F7;
    padding: 0px 16px;
}

.vnb-notice-actions-left md-list {
    padding: 0px;
}

.vnb-notice-actions-left md-list md-item {
    margin-right: 16px;
}

.md-button.vnb-button-round {
    width: 48px;
    height: 48px;
    color: #999;
    font-size: 16px;
    vertical-align: middle;
    border-radius: 24px !important;
}

.md-button.vnb-button-round.highlighted {
    color: @themeColor;
}

.md-button.vnb-button-round:hover, .md-button.vnb-button-round:focus {
    background: none !important;
}

.vnb-notice-actions-right .fake-comment-box {
    background: none;
    outline: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    text-align: left;
    color: #777;
    cursor: text;
}

.vnb-current-notice{
    background-color: lightskyblue;
    border-radius: 3px;
    padding: 0px 3px;
}
