.notice{
    padding:16px;
}
.notice h4{
    margin-top: 0px;
    font-size: large;
}

.notice .event-info{
    font-weight: 300;
    font-size: large;
}

.notice .dropdown{
    width:160px;
    text-align:right;
}

.notice .dropdown .dropdown-toggle{
    color:#ddd;
}

.notice .dropdown .dropdown-toggle:hover{
    color:#bbb;
}

.notice .dropdown.open .dropdown-toggle{
    color:#bbb;
}

.notice .dropdown .dropdown-menu{
    text-align: left;
    font-size: small;
}
