.schedule-heading{
    padding-top: 16px;
    padding-left: 16px;
    font-weight: normal;
    font-size: 16px;
}
.schedule-day.md-subheader{
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1.4em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.event-item .event-item-left{
    min-width: 72px;
}
.event-item .event-time{
    color: #999;
    font-size: small;
    margin-left: 16px;
    font-weight: 300;
    line-height: 18px;
}
.event-item .event-title{
    padding-left: 16px;
    padding-right: 16px;
    line-height: 20px;
    font-weight: normal;
    font-size: 16px;
}


