.vnb-schedule{
    margin: 14px 8px;
}
.schedule-heading{
    margin: 0px;
    padding: 16px;
    font-weight: normal;
    font-size: 16px;
}
.pinned-heading{
    margin: 0px;
    padding: 16px 16px 0px 16px;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #777;
}
.schedule-day.md-subheader{
    font-size: 1em;
    line-height: 1.4em;
    padding-top: 8px;
    padding-bottom: 8px;
    color: @themeColor !important;
}
.schedule-list{
    padding-top:0px;
}

.event-item {
    padding: 4px 16px;
    cursor: pointer;

}

.event-item:hover,.event-item:active {
    background: #F7F7F7;
}

.event-item .event-item-left{
    min-width: 72px;
}
.event-item .event-time{
    color: #999;
    font-size: small;
    font-weight: 300;
    line-height: 18px;
}
.event-item .event-venue{
    color: #999;
    font-size: small;
    font-weight: 300;
    line-height: 18px;
}
.event-item .event-title{
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
}


