md-tab .md-ripple-container {

}

md-tab:focus {
    outline: none;
    border: none !important;
}

md-tabs-ink-bar {
    color: lighten(@themeColor, 50%) !important;
    background: lighten(@themeColor, 50%) !important;
}

.header-face {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 8px 0px 8px 8px;
}

.vnb-page-title {
    padding-left: 16px;
}

.caret-container {
    cursor: pointer;
}

.header-strip {
    height: 64px;
}

