<div>
    <form name="form" novalidate>
        <div class="row">
            <div class="col-md-6">
                <label>Title</label>
                <input class="form-control" type="text"
                       ng-model="notice.title" required/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Venue</label>
                <input class="form-control" type="text"
                       ng-model="notice.venue" required/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <span class="badge"
                      style="cursor:pointer; margin: 4px;"
                      ng-repeat="corner in selected"
                      ng-click="adminCtrl.onTagRemove($index)">{{corner.name}}
                    <i class="glyphicon glyphicon-remove"></i></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Corners</label>
                <input class="form-control" ng-model="currentTag"
                       ng-required="!selected"
                       typeahead="tag.name for tag in corners | filter:{name:$viewValue}"
                       typeahead-on-select="adminCtrl.onTagSelect($item, $model, $label)"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <lable>From</lable>
                <input type="text" class="form-control"
                       style="margin-top: 12px;"
                       datepicker-popup="{{format}}"
                       ng-model="notice.from" is-open="fromOpen"
                       ng-required="true" close-text="Close"
                       ng-change="adminCtrl.adjustToDate()"
                    />
            </div>

            <div class="col-md-4">
                <timepicker ng-model="notice.from"
                            ng-change="adminCtrl.adjustToDate()"
                    ></timepicker>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <lable>To</lable>
                <input type="text" class="form-control"
                       style="margin-top: 12px;"
                       datepicker-popup="{{format}}"
                       ng-model="notice.to" is-open="toOpen"
                       ng-required="true" close-text="Close"
                       ng-change="adminCtrl.adjustFromDate()"
                    />
            </div>

            <div class="col-md-4">
                <timepicker ng-model="notice.to"
                            ng-change="adminCtrl.adjustFromDate()">
                            </timepicker>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <label>Description</label>
                <textarea
                class="form-control" required
                ng-model="notice.content"></textarea></div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <input class="submit btn btn-primary"
                               type="button"
                               ng-disabled="!((selected.length>0) && form.$valid)"
                               ng-click="adminCtrl.add()"
                               value="Add"/></div>
        </div>

    </form>
</div>
