<div class="modal-header">
    <h3 class="modal-title">{{posFormCtrl.modalTitle}}</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-horizontal" ng-show="posFormCtrl.position" novalidate>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
                Name
            </label>

            <div class="col-sm-8">
                <input type="text" class="form-control"
                       id="name" ng-model="posFormCtrl.position.name"
                       placeholder="General Secretary" required>
            </div>
        </div>

        <h3>Users
        <span class="pull-right">
            <button class="btn btn-default small"
                    ng-click="posFormCtrl.showAddUser()"
                >
                <i class="fa fa-plus"></i>
            </button>
        </span>
        </h3>
        <div collapse="posFormCtrl.addUsersCollapsed">
            <vnb-add-user
                callback="posFormCtrl.addUser(user)"></vnb-add-user>
        </div>
        <table class="table">
            <tr ng-repeat="user in posFormCtrl.position.users">
                <td>
                    <vnb-user data="user"></vnb-user>
                </td>
                <td>
                    <button class="btn btn-link"
                            ng-click="posFormCtrl.removeUser(user)">
                        remove
                    </button>
                </td>
            </tr>
        </table>

        <vnb-tag-input model="posFormCtrl.position.managing_corners"
                       data="posFormCtrl.allCorners"
                       label="'Manager'"
            >

        </vnb-tag-input>

        <vnb-tag-input model="posFormCtrl.position.editing_corners"
                       data="posFormCtrl.allCorners"
                       label="'Editor'"
            >

        </vnb-tag-input>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <input class="submit btn btn-primary"
                       type="button"
                       ng-disabled="!((posFormCtrl.position.managing_corners.length)||(posFormCtrl.position.editing_corners.length)) || form.$invalid"
                       ng-click="posFormCtrl.post()"
                       value="{{posFormCtrl.submitText}}"/>
            </div>
        </div>

    </form>
</div>
