<md-card class="notice" id="{{notice.id}}">
    <span class="pull-right text-muted">
        <div class="dropdown" ng-show="canEdit">
            <a href class="dropdown-toggle" ng-click="updatePinCorners()">
                <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href ng-click="editNotice()">Edit</a>
                </li>
                <li>
                    <a href ng-click="addUpdate()">Add Update</a>
                </li>
                <li ng-repeat="pin in pinCorners">
                    <a href="" ng-click="pinIn(pin)">Pin in {{pin.name}}</a>
                </li>
            </ul>
        </div>
    </span>
    <div ng-include="'components/notice/'+notice.type+'post.html'"></div>

    <ul class="list-inline">
        <li><a href="" ng-click="showLikes()">{{notice.like_count}}
            likes</a></li>
        <li><a href="" ng-click="showComments()">{{notice.comment_count}} comments</a></li>
        <li><a href="" ng-click="showUpdates()"> updates </a></li>
        <li><span class="text-muted font-thin font-small">{{notice
            .ago}}</span></li>
    </ul>

    <ul class="list-inline">
        <li>
            <button
                class="btn btn-default"
                ng-click="postLike()"><i class="fa" ng-class="user.likes.indexOf(notice.id) > -1?'fa-heart':'fa-heart-o'"></i>
            </button>
        </li>
        <li>
            <button
                class="btn btn-default"><i class="fa fa-comment"></i>
            </button>
        </li>
        <li>
            <button class="btn btn-default">
                <i class="fa fa-share"></i>
            </button>

        </li>
    </ul>
    <ul class="list-inline">
        <li ng-repeat="corner in notice.corners">
            <a ng-href="#/interIIT/{{corner.tag}}">{{corner.name}}</a>
        </li>
    </ul>

    <div class="md-padding inline-comment-box">
        <form layout="row" layout-sm="column" flex>
            <md-text-float label="Comment"
                           class="comment-box"
                           ng-model="comment"
                           flex="65"></md-text-float>
            <md-button
                class="md-primary comment-button"
                ng-click="postComment()" ng-show="comment">
                <span class="fa fa-arrow-circle-right"></span>
            </md-button>
        </form>
    </div>
</md-card>
