<div>
	<div ng-include="'/components/notice/'+notice.type+'post.html'"></div>
    <a href="" ng-click="getLikes()">likes</a>
    <button
        class="btn"
        ng-click="postLike()"><i class="glyphicon glyphicon-thumbs-up"></i></button>
    <form class="form-inline" ng-submit="postComment()">
        <input type="text" class="form-control" ng-model="comment"/>
        <!--<input type="submit" value="Comment"/>-->
    </form>
	<ul>
		<li ng-repeat="corner in notice.data.corners">
			<vnb-link data="corner"></vnb-link>
		</li>
	</ul>
</div>
