<md-card layout="column" class="vnb-notice" md-theme="indigo">
    <section flex class="vnb-notice-update-to" ng-if="notice.data.parent_title.length">
        update to
        <span class="vnb-text-link" ng-click="showUpdates()">
            {{notice.data.parent_title}}
        </span>
    </section>
    <section layout="row" flex class="vnb-notice-header">

        <section layout="column" flex
                 class="vnb-notice-title-container">
            <div class="vnb-notice-title">
                <span class="">{{notice.data.title}}</span>
            </div>
            <div class="vnb-notice-signature">
                {{notice.data.position_name}}&nbsp;
                <span class="text-muted font-thin font-small">
                    {{notice.ago}} ago
                </span>
            </div>
        </section>

        <div class="dropdown" ng-show="canEdit && !editing">
            <a href class="dropdown-toggle"
               ng-click="updatePinCorners()">
                <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href ng-click="editNotice()">Edit</a>
                </li>
                <li>
                    <a href ng-click="addUpdate()">Add Update</a>
                </li>
                <li >
                    <a href="" ng-click="unPin(currentStateCorner)">Unpin from
                        {{currentStateCorner.name}}</a>
                </li>
            </ul>
        </div>
    </section>
    <md-divider></md-divider>

    <section class="vnb-notice-body" layout="column" flex>
        <section layout="row" ng-if="notice.is_event"
                 class="vnb-notice-event">
            <section layout="column" layout-align="center start"
                     class="vnb-date-container">
                <section class="vnb-month">
                    {{notice.from | date:'MMM'}}
                </section>
                <!--<md-divider class="vnb-date-separator"></md-divider>-->
                <section class="vnb-date">
                    {{notice.from | date:'dd'}}
                </section>
            </section>
            <section layout="column"
                     layout-align="space-around start"
                     class="vnb-notice-metadata">
                <span class="vnb-notice-time">
                    <span class="right-align">Time : </span>
                    {{notice.from | date:'h:mm a'}}&nbsp;
                    <span class="text-muted font-small">
                    {{notice.duration}}
                </span>
                </span>
                <span class="vnb-notice-venue">
                    <span class="right-align">Venue : </span>
                    {{notice.data.venue}}
                </span>
            </section>
        </section>

        <section class="vnb-notice-block" ng-class="'vnb-notice-block-'+block.type"
                 ng-repeat="block in notice.data.blocks"
                 ng-include="'components/notice/' + block.type + '-block.html'"
            >
        </section>

    </section>

    <!--<md-divider class="vnb-notice-separator"></md-divider>-->
    <md-list class="vnb-notice-tags" layout="row">
        <md-item ng-repeat="corner in notice.corners">
            <a href vnb-link="corner.tag">{{corner.name}}</a>
        </md-item>
    </md-list>
    <md-divider ng-show="notice.like_count + notice.comment_count + notice.updates_above + notice.updates_below > 0"
                class="vnb-notice-separator">

    </md-divider>
    <md-list ng-show="notice.like_count + notice.comment_count + notice.updates_above + notice.updates_below > 0"
             class="vnb-notice-social-meta" layout="row">
        <md-item ng-show="notice.like_count > 0">
            <a href="" ng-click="showLikes()">
                {{notice.like_count}} <i class="fa fa-heart"></i>
            </a>
        </md-item>
        <md-item ng-show="notice.comment_count > 0">
            <a href="" ng-click="showComments()">
                {{notice.comment_count}} <i class="fa fa-comments"></i>
            </a>
        </md-item>
        <md-item ng-show="(notice.updates_above + notice.updates_below > 0) && !hideUpdate">
            <a href="" ng-click="showUpdates()">
                {{notice.updates_above}} <i class="fa fa-arrow-up"></i>
                {{notice.updates_below}} <i class="fa fa-arrow-down"></i>
            </a>
            <md-tooltip>
                See updates
            </md-tooltip>
        </md-item>
        <md-item></md-item>
    </md-list>

    <md-divider></md-divider>
    <section class="vnb-notice-footer" layout="column" ng-if="!editing">
        <section layout="row">
            <section class="vnb-notice-actions-left">
                <md-list layout="row">
                    <md-item>
                        <md-button ng-class="{highlighted: user.likes.indexOf(notice.id) > -1}"
                                   class="vnb-button-round" ng-click="postLike()">
                            <i class="fa fa-heart"></i>
                        </md-button>
                    </md-item>
                    <md-item>
                        <md-button class="vnb-button-round" ng-click="copyLink()">
                            <i class="fa fa-link"></i>
                            <md-tooltip>
                                Link
                            </md-tooltip>
                        </md-button>
                    </md-item>
                    <md-item>
                        <md-button class="vnb-button-round" ng-click="share()">
                            <i class="fa fa-share"></i>
                            <md-tooltip>
                                Share
                            </md-tooltip>
                        </md-button>
                    </md-item>
                </md-list>
            </section>
            <section ng-hide="showCommentBox"
                     class="vnb-notice-actions-right" layout="row"
                     flex layout-align="center center">
                <button ng-click="showCommentBox = true;"
                        class="fake-comment-box"
                        type="text" flex>Comment</button>
            </section>
        </section>
        <section ng-show="showCopyBox">
            <input class="vnb-text-box" type="text" ng-value="getShareLink()"/>
        </section>
        <section class="vnb-notice-comments"
                 ng-controller="CommentsController as commentsCtrl">
            <div class="inline-comment-box"
                 ng-if="$parent.showCommentBox">
                <form layout="column" flex>
                    <textarea label="Comment"
                              class="comment-box"
                              autofocus="true"
                              ng-model="commentsCtrl.comment"
                              flex></textarea>
                    <section layout="row" flex layout-align="end center">
                        <md-button
                            class="vnb-button-round"
                            ng-click="commentsCtrl.postComment()">
                            <i class="fa fa-comment"></i>
                        </md-button>
                    </section>
                </form>
            </div>
            <div layout="row" layout-sm="column"
                 layout-align="space-around"
                 ng-show="commentsCtrl.loading">
                <md-progress-linear
                    md-mode="indeterminate"></md-progress-linear>
            </div>
            <md-content class="vnb-notice-comments-container">
                <md-list>
                    <md-item
                        ng-repeat="comment in commentsCtrl.comments">
                        <md-item-content>
                            <div class="md-tile-left">
                                <img class="face"
                                     ng-src="{{'http://graph.facebook.com/' + comment.user.facebook_id + '/picture'}}"
                                     alt="DP"/>
                            </div>
                            <div class="md-tile-content">
                                <a ng-href="user.profile_link"><h4>
                                    {{comment.user.name}}</h4></a>

                                <p class="comment-data">
                                    {{comment.data}}</p>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </section>
    </section>

</md-card>
