<h3>Text input id: {{data.id}}</h3>
<section layout="column">
    <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">
            Description
        </label>

        <div class="col-sm-8">
            <textarea class="form-control"
                      id="desc" ng-model="data.content.text"
                      placeholder="The final event of Inter IIT" required>
            </textarea>
        </div>
    </div>
    <md-button class="md-primary" ng-click="createEventCtrl.deleteText(data.id)">Delete text id: {{data.id}}</md-button>
</section>
