<div ng-controller="ScheduleController as scheduleCtrl">
    <section layout="row" flex layout-align="center center"
             style="padding: 32px;"
             ng-show="!scheduleCtrl.dataLoaded">

        <md-progress-circular
            md-mode="indeterminate"></md-progress-circular>
    </section>
    <notice ng-repeat="notice in scheduleCtrl.notices | limitTo:scheduleCtrl.limitTo"
            data="notice" hide-update="false"
        >

    </notice>
    <section layout="row" flex layout-align="center center"
             style="height: 400px;"
             ng-hide="(scheduleCtrl.notices.length) || !scheduleCtrl.dataLoaded">
        <h1 style="color: #ccc; padding-left: 48px">Nothing Here</h1>
    </section>
</div>
