<section ng-controller="PinnedNoticesController as pinnedNoticesCtrl">
    <section style="padding: 0px;" ng-if=
        "pinnedNoticesCtrl.notices.length">
        <h2 class="pinned-heading">Pinned</h2>
        <section ng-repeat="notice in pinnedNoticesCtrl.visibleNotices">
            <pinned-notice data="notice"></pinned-notice>
        </section>
        <md-button
            ng-click="pinnedNoticesCtrl.expand()"
            ng-show="pinnedNoticesCtrl.canExpand">
            Expand
        </md-button>
        <md-button
            ng-click="pinnedNoticesCtrl.compress()"
            ng-show="pinnedNoticesCtrl.canCompress">
            Compress
        </md-button>
        <md-divider></md-divider>
    </section>
</section>
<div ng-controller="ScheduleController as scheduleCtrl">
    <section layout="row" flex layout-align="center center"
             style="padding: 32px;"
             ng-show="!scheduleCtrl.dataLoaded">

        <md-progress-circular
            md-mode="indeterminate"></md-progress-circular>
    </section>
    <notice ng-repeat="notice in scheduleCtrl.notices | limitTo:scheduleLimit"
            data="notice" hide-update="false" ng-if="notice.next || scheduleCtrl.showPrevious">

    </notice>
    <section layout="row" flex layout-align="center center"
             style="height: 400px;"
             ng-hide="(scheduleCtrl.notices.length) || !scheduleCtrl.dataLoaded">
        <h1 style="color: #ccc; padding-left: 48px">Nothing Here</h1>
    </section>
</div>
