<md-content class="background-container"
            ng-controller="TagsController as tagsCtrl" layout="column"
            flex
            md-swipe-left="mainCtrl.toggleRightSidebar()"
            md-swipe-right="mainCtrl.toggleLeftSidebar()"
            ng-if="mainCtrl.isDesktop"
            xmlns="http://www.w3.org/1999/html">
    <md-toolbar md-scroll-shrink md-shrink-speed-factor="0.75"
                ng-class="{'md-tall': tagsCtrl.header.image}">
        <section layout="row"
                 flex layout-align="start end"
                 style="padding-bottom: 19px; z-index: 20"
                 back-img="{{tagsCtrl.header.image.link}}">
            <section layout="row"
                     layout-align="start center"
                     class="vnb-hamburger" hide-gt-md>
                        <span ng-click="mainCtrl.toggleLeftSidebar()">
                            <i class="fa fa-bars vnb-nav-icon"></i>
                        </span>
            </section>
            <section layout="row" style="width: 12px" hide-sm>

            </section>
            <section layout="row" layout-align="start center" flex
                     style="padding-bottom: 1px">
                <span ng-if="tagsCtrl.home">
                    Home
                </span>
                <span>
                    {{tagsCtrl.corner}}
                </span>
            </section>
            <section layout="row" ng-if="tagsCtrl.canEdit">
                <span ng-click="tagsCtrl.updateHeaderImage()"
                      style="cursor:pointer;">
                    <i class="fa fa-plus vnb-nav-icon"></i>
                </span>
            </section>
            <section layout="row" style="width: 12px" hide-sm>

            </section>
            <section layout="row"
                     layout-align="end center" class="vnb-hamburger">
                <md-button ng-show="!mainCtrl.user"
                           ng-click="mainCtrl.login()">
                    <i class="fa fa-facebook-square"></i>
                </md-button>
                <span class="vnb-text-link vnb-user-name">
                    {{mainCtrl.user.name}}
                </span>
            </section>
        </section>
        <section class="vnb-toolbar-gradient"></section>
    </md-toolbar>

    <section layout="row" flex layout-align="center start"
             class="background-container">
        <section layout="column" flex style="max-width:620px" >
            <section layout="row"
                     layout-align="center center">
                <md-button class="vnb-tab vnb-tab-left"
                           md-ink-ripple="#777"
                           id="dtab1" aria-controls="dtab1-content"
                           ng-class="{'vnb-tab-current': (mainCtrl.selectedIndex == 0)}"
                           ng-click="mainCtrl.selectedIndex = 0">
                    Coming up
                </md-button>
                <md-button class="vnb-tab vnb-tab-right"
                           md-ink-ripple="#777"
                           id="dtab2" aria-controls="dtab2-content"
                           ng-class="{'vnb-tab-current': (mainCtrl.selectedIndex == 1)}"
                           ng-click="mainCtrl.selectedIndex = 1">
                    What's new
                </md-button>
            </section>
            <section layout="row"
                class="md-padding main-content"
                     style="max-width: 620px">
                <ng-switch on="mainCtrl.selectedIndex"
                           class="tabpanel-container"
                           flex
                           layout="row" layout-align="center start">
                    <div role="tabpanel" id="dtab1-content" flex
                         aria-labelledby="dtab1" ng-switch-when="0">
                        <section
                            ng-include="'components/tag/coming_up.html'"></section>
                    </div>
                    <div role="tabpanel" id="dtab2-content" flex
                         aria-labelledby="dtab2" ng-switch-when="1">
                        <section
                            ng-include="'components/tag/whats_new.html'"></section>
                    </div>
                </ng-switch>
            </section>
        </section>
        <section layout="column">
            <md-content class="background-container">
                <section ui-view="right"
                         style="margin-top: 12px"></section>
            </md-content>
        </section>
    </section>
</md-content>

<md-content class="background-container"
            ng-controller="TagsController as tagsCtrl" layout="column"
            flex
            md-swipe-left="mainCtrl.toggleRightSidebar()"
            md-swipe-right="mainCtrl.toggleLeftSidebar()"
            ng-if="!mainCtrl.isDesktop">
    <md-toolbar md-scroll-shrink md-shrink-speed-factor="0.75">
        <section layout="row"
                 flex layout-align="start end"
                 style="padding-bottom: 19px; z-index: 20">
            <section layout="row"
                     layout-align="start center"
                     class="vnb-hamburger" hide-gt-md>
                        <span ng-click="mainCtrl.toggleLeftSidebar()">
                            <i class="fa fa-bars vnb-nav-icon"></i>
                        </span>
            </section>
            <section layout="row" style="width: 12px" hide-sm>

            </section>
            <section layout="row" layout-align="start center" flex
                     style="padding-bottom: 1px">
                <span ng-if="tagsCtrl.home">
                    Home
                </span>
                <span>
                    {{tagsCtrl.corner}}
                </span>
            </section>
            <section layout="row" ng-if="tagsCtrl.canEdit">
                <span ng-click="tagsCtrl.updateHeaderImage()"
                      style="cursor:pointer;">
                    <i class="fa fa-plus vnb-nav-icon"></i>
                </span>
            </section>
            <section layout="row" style="width: 12px" hide-sm>

            </section>
            <section layout="row"
                     layout-align="end center" class="vnb-hamburger">
                <md-button ng-show="!mainCtrl.user"
                           ng-click="mainCtrl.login()">
                    <i class="fa fa-facebook-square"></i>
                </md-button>
                <span class="vnb-text-link vnb-user-name">
                    {{mainCtrl.user.name}}
                </span>
            </section>
        </section>
        <section class="vnb-toolbar-gradient"></section>
    </md-toolbar>

    <md-content class="background-container">
        <md-tabs md-selected="data.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content"
                    md-ink-ripple="#D1E8FF">
                Coming up
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content"
                    md-ink-ripple="#D1E8FF">
                What's new
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content"
                    md-ink-ripple="#D1E8FF">
                Overview
            </md-tab>
        </md-tabs>

        <ng-switch on="data.selectedIndex" class="tabpanel-container"
                   layout="row" layout-align="center start">
            <div role="tabpanel" id="tab1-content"
                 aria-labelledby="tab1" ng-switch-when="0"
                 md-swipe-left="next()"
                 md-swipe-right="previous()">
                <section flex class="md-padding main-content"
                         style="max-width: 620px">
                    <section
                        ng-include="'components/tag/coming_up.html'"></section>
                </section>
            </div>
            <div role="tabpanel" id="tab2-content"
                 aria-labelledby="tab2" ng-switch-when="1"
                 md-swipe-left="next()"
                 md-swipe-right="previous()">
                <section flex class="md-padding main-content"
                         style="max-width: 620px">
                    <section
                        ng-include="'components/tag/whats_new.html'"></section>
                </section>
            </div>
            <div flex layout="row" layout-align="center start"
                 role="tabpanel" id="tab3-content"
                 aria-labelledby="tab3"
                 ng-switch-when="2" md-swipe-left="next()"
                 md-swipe-right="previous()">
                <section ui-view="right"
                         style="padding-top: 6px; max-width: 620px"
                         flex></section>
            </div>
        </ng-switch>
    </md-content>
</md-content>
